<main class="page">
    <section class="page__search">
        <label for="search" class="labelSearch">Encuentra tu serie:</label>
        <input type="text" class="inputSearch" name="search" id="search">
        <button class="btnSearch">buscar</button>
    </section>
    <div class="page__container">
        <aside class="favourites">
            <h3 class="fav-title">Tus series favoritas</h3>
        </aside>
        <section class="results">
            <h3>Resultados</h3>
        </section>
    </div>
</main>