<main class="page">
    <section class="page__search">
        <label for="search" class="labelSearch">Encuentra tu serie:</label>
        <input type="text" class="inputSearch js_input" name="search" id="search" placeholder="Contiene ...">
        <button class="btnSearch js_btn">Buscar</button>
    </section>
    <div class="page__container">
        <aside class="favourites">
            <h3 class="page__container--title">Series favoritas</h3>
            <ul class="fav__show js_showFav"></ul>
        </aside>
        <section class="results js_results">
            <h3 class="page__container--title">Resultado de tu busqueda</h3>
            <ul class="results__show js_showResults">

            </ul>
        </section>
    </div>
</main>