.header {
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(to right, #a8c0ff, #3f2b96);
    color: white;
    padding: 20px 40px;
}
.logo {
    height: 80px;
    border-radius: 15px;
}

.title {
    float: right;
    padding-top: 60px;
    font-size: 30px;
    text-align: right;
}
