.header {
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(to right, #a8c0ff, #3f2b96);
    color: white;
    padding: 20px 60px;
    display: grid;
    grid-template-areas: "a b";
}
.logo {
    height: 80px;
    border-radius: 15px;
}

.title {
    padding-top: 10px;
    font-size: 18px;
    text-align: right;

    @media (min-width: 768px){
        font-size: 20px;
    }
}
