.page {
    width: 100%;
    height: 70vh;
    

    &__search {
        height: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .labelSearch {
            padding: 20px 0;
        }

        .inputSearch {
            width: auto;
        }

        .btnSearch {
            margin-top: 20px;
            width: 60px;
        }
    }

    &__container {
        padding: 20px 60px;
        display: grid;
        grid-template-areas: "a b c c";
        
        .favourites {
            grid-area: a;
            background-color: lightpink;
        }

        .results {
            grid-area: c;
            background-color: skyblue;
        }
    }
}

