.page {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    color: #161616;
    font-size: 24px;
    

    &__search {
        height: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .labelSearch {
            padding: 20px 0;
        }

        .inputSearch {
            width: auto;
        }

        .btnSearch {
            margin-top: 20px;
            width: 60px;
        }
    }

    &__container {
        padding: 20px 60px;

        &--title {
            color: #6E7076;
            font-size: 24px;
            padding: 20px 0;
            text-align: center;
        }

        .favourites {
            background-color: lightpink;
            &__show {
                padding: 0 20px 20px;
                text-align: center;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                row-gap: 40px;
            }
        }
        .results {
            
            background-color: skyblue;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &__show {
                padding: 0 20px 20px;
                text-align: center;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                row-gap: 40px;
            }
        }


        @media( min-width: 768px) {
            display: grid;
            grid-template-areas: "a b c c";
            
        
        .favourites {
            grid-area: a;
            background-color: lightpink;
        }

        .results {
            grid-area: c;
            background-color: skyblue;
            
         
        }
        }
        
    }
}

.fav {
    border-radius: 2px solid red;
}

